<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>back_image</key>
		<string>Bring-The-Examine-Room-To-Me-Front</string>
		<key>front_image</key>
		<string>Bring-The-Exam-Room-Back</string>
	</dict>
	<key>2</key>
	<dict>
		<key>back_image</key>
		<string>Life-Coach-Front</string>
		<key>front_image</key>
		<string>Doctor-As-Life-Coach-Back</string>
	</dict>
	<key>3</key>
	<dict>
		<key>back_image</key>
		<string>Eat-Food-Front</string>
		<key>front_image</key>
		<string>Eat-More-Food-Back</string>
	</dict>
	<key>4</key>
	<dict>
		<key>back_image</key>
		<string>Examine-Yourself-Front</string>
		<key>front_image</key>
		<string>Examine-Yourself-Back</string>
	</dict>
	<key>5</key>
	<dict>
		<key>back_image</key>
		<string>Exercise-Is-Medicine-Front</string>
		<key>front_image</key>
		<string>Exercise-Is-Medicine-Back</string>
	</dict>
	<key>6</key>
	<dict>
		<key>back_image</key>
		<string>Get-More-Sleep-Front</string>
		<key>front_image</key>
		<string>Get-More-Sleep-Back</string>
	</dict>
	<key>7</key>
	<dict>
		<key>back_image</key>
		<string>Give-me-My-Data-Front</string>
		<key>front_image</key>
		<string>Give-Me-My-Data-Back</string>
	</dict>
	<key>8</key>
	<dict>
		<key>back_image</key>
		<string>Have-More-Sex-Front</string>
		<key>front_image</key>
		<string>Have-More-Sex-Back</string>
	</dict>
	<key>9</key>
	<dict>
		<key>back_image</key>
		<string></string>
		<key>front_image</key>
		<string>Increase-Your-Happiness-Quotient-Back</string>
	</dict>
	<key>10</key>
	<dict>
		<key>back_image</key>
		<string>Keep-Good-Records-Front</string>
		<key>front_image</key>
		<string>Keep-Good-Records-Back</string>
	</dict>
	<key>11</key>
	<dict>
		<key>back_image</key>
		<string>Know-The-Cost-Front</string>
		<key>front_image</key>
		<string>Know-The-Cost-Back</string>
	</dict>
	<key>12</key>
	<dict>
		<key>back_image</key>
		<string>Know-Your-Numbers-Front</string>
		<key>front_image</key>
		<string>Know-Your-Numbers-Back</string>
	</dict>
	<key>13</key>
	<dict>
		<key>back_image</key>
		<string>Let-Patients-Help-Front</string>
		<key>front_image</key>
		<string>Let-Patients-Help-Back</string>
	</dict>
	<key>14</key>
	<dict>
		<key>back_image</key>
		<string>Live-Care-Plan-Front</string>
		<key>front_image</key>
		<string>Live-Your-CarePlan-Back</string>
	</dict>
	<key>15</key>
	<dict>
		<key>back_image</key>
		<string>Medicare-For-all-Front</string>
		<key>front_image</key>
		<string>Medicare-For-All-Back</string>
	</dict>
	<key>16</key>
	<dict>
		<key>back_image</key>
		<string>Meditate-And-Propser-Front</string>
		<key>front_image</key>
		<string>Meditate-And-Prosper-Back</string>
	</dict>
	<key>17</key>
	<dict>
		<key>back_image</key>
		<string>Move-More-Front</string>
		<key>front_image</key>
		<string>Move-More-Back</string>
	</dict>
	<key>18</key>
	<dict>
		<key>back_image</key>
		<string>Quit-Smoking-Front</string>
		<key>front_image</key>
		<string>Quit-Smoking-Back</string>
	</dict>
	<key>19</key>
	<dict>
		<key>back_image</key>
		<string>Baby-Steps-Front</string>
		<key>front_image</key>
		<string>Take-Baby-Steps-Back</string>
	</dict>
	<key>20</key>
	<dict>
		<key>back_image</key>
		<string>Tell-them-it-was-Great-Front</string>
		<key>front_image</key>
		<string>Tell-Them-It-Was-Great-Back</string>
	</dict>
	<key>21</key>
	<dict>
		<key>back_image</key>
		<string>Doctor-in-your-Pocket-Front</string>
		<key>front_image</key>
		<string>The-Doctor-Is-In-Your-Pocket-Back</string>
	</dict>
	<key>22</key>
	<dict>
		<key>back_image</key>
		<string>Wash-Yours-Hands-Front</string>
		<key>front_image</key>
		<string>Wash-Your-Hands-Back</string>
	</dict>
	<key>23</key>
	<dict>
		<key>back_image</key>
		<string>Take-Meds-on-Time-Front</string>
		<key>front_image</key>
		<string>Take-Meds-On-Time-Back</string>
	</dict>
</dict>
</plist>
